@model Equipe

@{
    ViewData["Title"] = "Equipe";
}

<link rel="stylesheet" href="~/css/equipes.css">

<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">
        @if (ViewBag.UserName == null)
        {
            <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">
                Login
            </a>
        }
        else
         { @* Logado *@
            <form class="frm-cad-equipe" method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Equipes</h1>
                    <hr>
                </div>

                @* <input class="campo-entrada" type="number" id="idEquipe" placeholder="Digite o Id da sua equipe:"> *@
                <input class="campo-entrada" type="text" name="Nome" required placeholder="Digite o nome da sua equipe:">
                <label class="foto" for="foto-file">
                    Nenuma imagem selecionada...
                    <input type="file" id="foto-file" name="Imagem">
                </label>

                <button>Cadastro</button>



                <!-- <select class="equipeid" id="equipeid">
                        <option value="">Selecione uma Equipe</option>
                        <option value="x">Equipe X</option>
                        <option value="y">Equipe Y</option>
                    </select> -->
            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Foto</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <tr>
                            <td>@equipe.IdEquipe</td>
                            <td>@equipe.Nome</td>
                            <td>
                                <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px">
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Equipe" asp-action="Excluir"
                                    asp-route-id="@equipe.IdEquipe">
                                    <img class="yellow-trash" src="~/assets/trash.png" alt="">
                                </a>
                            
                                <a asp-area="" asp-controller="Equipe" asp-action="Editar"
                                    asp-route-id="@equipe.IdEquipe">
                                    <img class="yellow-trash" src="~/assets/edit-pen.png" alt="">
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }


    </section>
</main>